@model IEnumerable<cineVote.Models.Domain.Competition>
@{
    ViewData["Title"] = "Competitions";
}

<h1 class="text-center">Ongoing Competitions</h1>
<div class="text-dark mt-3">
    <ul class="competitions-list">
        <li class="competition">
            <div class="fs-3 fw-bold">Nome da competição</div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="fs-5">Categorias</div>
                <button class="btn btn-primary btn-lg btn-block" style="background-color:rgb(64,17,118) ">Participate</button>
            </div>
            <div class="text-dark">Starting Date: 16/7/2000</div>
        </li>
        <li class="competition">
            <div class="fs-3 fw-bold">Nome da competição</div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="fs-5">Categorias</div>
                <button class="btn btn-primary btn-lg btn-block" style="background-color:rgb(64,17,118) ">Participate</button>
            </div>
            <div class="text-dark">Starting Date: 16/7/2000</div>
        </li>
        <li class="competition">
            <div class="fs-3 fw-bold">Nome da competição</div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="fs-5">Categorias</div>
                <button class="btn btn-primary btn-lg btn-block" style="background-color:rgb(64,17,118) ">Participate</button>
            </div>
            <div class="text-dark">Starting Date: 16/7/2000</div>
        </li>
        <li class="competition">
            <div class="fs-3 fw-bold">Nome da competição</div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="fs-5">Categorias</div>
                <button class="btn btn-primary btn-lg btn-block" style="background-color:rgb(64,17,118) ">Participate</button>
            </div>
            <div class="text-dark">Starting Date: 16/7/2000</div>
        </li>
        <li class="competition">
            <div class="fs-3 fw-bold">Nome da competição</div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="fs-5">Categorias</div>
                <button class="btn btn-primary btn-lg btn-block" style="background-color:rgb(64,17,118) ">Participate</button>
            </div>
            <div class="text-dark">Starting Date: 16/7/2000</div>
        </li>
    </ul>
</div>