@model cineVote.Models.DTO.CreateCategoryModel;

<style>
    .margem-top{
        margin-top: 15%;
        }
</style>

<div class="row margem-top" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-6">

        <div class="card" style="color:black;">
            <div class="card-header">
                <div class="fs-3 text-center fw-bold">Create a new Category</div>
            </div>
            <div class="card-body" style="color:black;">
                <form asp-controller="Admin" asp-action="CreateCategory" method="post">
                    <div class="mb-3">
                        <label class="form-label fs-6 fw-bold">Name of the Category:</label>
                        <input asp-for="CategoryName" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label fs-6 fw-bold">Description of the Category:</label>
                        <textarea asp-for="CategoryDescription" class="form-control"></textarea>
                    </div>
                    <div class="mb-3 mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn text-white" style="background-color:rgb(67,37,101)">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
