@{
    ViewData["Title"] = "About us";
}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .about-text {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .contact-email {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contact-email a {
        color: #0066cc;
        text-decoration: none;
    }

    .contact-email a:hover {
        text-decoration: underline;
    }

    .contact-message {
        font-size: 16px;
    }
</style>



<body>
    <div class="container">
        <h1>About Us</h1>
        <p class="about-text">This is a website that allows you not only to participate in competitions but also truly
            immerse yourself in the movie world by being able to vote in your favorite movies and competitions and share
            your thoughts and feelings with other users.</p>
        <h2>Contact Us</h2>
        <p class="contact-email">Email: <a href="mailto:userhelp@cinevote.com">userhelp@cinevote.com</a></p>
        <p class="contact-message">We are here for you, if you need any help, please contact us.</p>
    </div>
</body>