@{
    ViewData["Title"] = "How it Works";
}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .steps-list {
        font-size: 18px;
        list-style-type: decimal;
        padding-left: 20px;
    }

    .steps-list li {
        margin-bottom: 10px;
    }

    .steps-list li:last-child {
        margin-bottom: 0;
    }
</style>

<body>
    <div class="container">
        <h1>How it works</h1>
        <ol class="steps-list">
            <li>Create an account if you don´t have one already;</li>
            <li>Check the competitions that are available and choose to participate in one;</li>
            <li>Wait for the competition to start and vote in your favorite movie;</li>
            <li>Check your notifications to see if the results are out;</li>
            <li>And finally, have fun completing your profile by adding your favorite movies and enjoy the full
                experience by posting on our forum your thoughts and feelings with other users.</li>
        </ol>
    </div>
</body>

