@{
    ViewData["Title"] = "Home Page";
}




<body class="perfil-img">

</body>

<h3 class="display-1" style="font-weight: bold; margin-top: 50px;"><br />IMMERSE <br />YOURSELF IN <br />MOVIE WORLD</h3>
<p1 class="display-6">Vote for your favorite nomineee</p1>
<br />
<div class="perfil-but">
    <button class="btn btn-primary btn-lg btn-block" style="background-color:rgb(30,8,55) ">Starts Now!</button>
</div>